
.navbar .nav-item .nav-link {
    color: white;
}

.navbar .nav-item .nav-link:hover, .nav-link:active{
    color: white;
}

nav a {
    font-weight: normal;
    padding: 10px 5px;
    font-size: .9em;
}
    
nav li {
    display: inline-block;
    padding: 10px 20px;
}    
  
.title{
    background-color: #343A40;
    color: white;
}